/*导航条*/
.nav_box, .uk-navbar-container:not(.uk-navbar-transparent){
	background-color: #12212f;
	color: #9eb2c3;
}

.nav_box .uk-navbar-nav > li > a, .nav_box .uk-navbar-item, .nav_box .uk-navbar-toggle{
	height: 50px;
}

body{
	background-color: #eeeeee;
}

.bgcolorFFF{
	background-color: #fff;
}
.nav_box a.uk-button-primary{
	color: #fff !important;
}

/*编辑器*/
pre,pre code{

	background: #0d1721 !important;
    color: #f8f8f2 !important;
}
.editorControl{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 1000px;
	background-color: #fff;
	z-index: 100;
}
.editorControl .w-e-text-container{
	height: 100% !important;
}

._footer{
	background-color:#e6e6e6;
	border-top:1px solid #fff;
}

.uk-heading-bullet-cust::before{
	border-left-color: #0f7ae5
}